extends layout

block content

  .ui.card#add-card
    .content
      img.ui.image.mini.floated.left(src="/images/room/unnamed.png")
      .header Add Room
        .meta Click here to create room
