extends layout

block content
  .single-room.ui.grid.centered.container.four
    .sixteen.wide.row
    .ui.icon.input
      input(type="text" placeholder="search video....")
      i.search.icon
    h2.row= room.name
  .ui.right.aligned.grid
    .left.floated.right.aligned.seven.wide.column
       ui.segment search song
    .right.floated.left.aligned.six.wide.column
      ui.segment playlist
      
    

  
  
